/*.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}
.sidebar-content {
  position: absolute;
  width:50px;
}

.sidebar {
  width: 220px;
  background-color: #1e293b; 
  color: #fff;
  flex-shrink: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;  
  background-color: #f8fafc;
  overflow: hidden;
}

.topbar {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  
  padding-top: 0px;
}

.dashboard-content {
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 0;
  padding-top: 0px;
  display: flex;
}

.dashboard-content-section {
  transition: transform 0.3s ease;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  width: 100%;
}

.dashboard-content-section-close {
  margin-left: 12rem;
  width: 100%;
}

.show-dashboard-sidebar {
  display: block;
  width: 190px;
}

.hide-dashboard-sidebar {
  display: none;
}

.component-header {
  font-size: 1rem;
  color: #64748b;
  font-weight: 501;
}



@media (max-width: 699px) {
  .dashboard-sidebar {
    display: none;
  }

  .dashboard-content-section-close {
    margin-left: 0rem !important;
    width: 100%;
  }
}

@media (min-width: 700px) {
  .dashboard-content-section-close {
    margin-left: 12rem;
    width: 72%;
  }
}
*/

.teacher-layout {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .teacher-sidebar {
    position: relative;
    background-color: #132f4a;
    border-right: 1px solid #dce3ee;
    width: 180px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.logo {
  /* font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #1e3a8a; */
  position: absolute;
  z-index: 99999;
  width: 100%;
  img {
    width: 200px;
    height: 100%;
    /* object-fit: contain; */
    margin-left: -1.2rem;
    margin-top: -2rem;
  }
}



.teacher-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.teacher-content .header {
  display: grid;
  grid-template-columns: 1fr auto;

}

.header {
  height: 75px;
  background-color: #fff;
  border-bottom: 1px solid #dce3ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width:100%;
}

.welcome-text {
  font-size: 1.2rem;
  color: #1e3a8a;
}

.profile-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.main-content {
  padding: 1.5rem;
  background-color: #f9fbfd;
  flex: 1;
  overflow-y: auto;
}
