/* AssignNewLessons.css */
.assign-lessons-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-size: 0.95rem;
  width: 100%;
  .lessons-filter {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .lessons-filter-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.lessons-filter:last-child {
  margin-left: 10px;
}

.assign-lessons-container h5 {
  font-weight: 600;
  color: #2c3e50;
}

.lesson-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
  gap: 10px;
  padding: 0.5rem 0;
}

.lesson-item {
  background-color: #f8f9fa;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  transition: all 0.2s;
}

.lesson-item:hover {
  background-color: #eef4ff;
  border-color: #b3d4fc;
}

.is-assigned {
  color: rgb(13, 99, 70);
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.not-assigned {
  color: rgb(222, 41, 4);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.offcanvas-body {
  padding-top: 1rem !important;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.offcanvas-header {
  background: #475569;
  color: #ffffff;
  .btn-close {
    --bs-btn-close-color: #ffffff !important;
  }
}

.assign-student-lessons {
  width: 100%;
  .form-select,
  .form-control {
    max-width: 100% !important;
  }
}

.student-table-wrapper {
  max-height: 450px; /* adjust as needed */
  overflow-y: auto;
}

.student-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  z-index: 1;
  text-align: center !important;
}


.lesson-conflict-card {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.lesson-meta h6 {
  margin: 0;
  color: #0056b3;
}

.student-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.student-chip {
  background: #e9ecef;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .form-select {
    font-size: 0.95rem;
    padding: 0.5rem;
  }
  .assign-lessons-container {
    /* padding: 0px !important; */

    .recently-assigned-grid {
      th,
      td {
        font-size: 13px;
      }
    }
    .lessons-filter-section {
      grid-template-columns: auto;
    }
  }
}
