.breadcrumb {
    font-size: 0.95rem;
    color: #64748b;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:2.5rem
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb-item a {
    color: #1e40af;
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-separator {
    margin: 0 0.5rem;
    color: #94a3b8;
  }
  

  @media (max-width: 768px) {
    .breadcrumb {
margin-left:1.5rem
    }
  }