.navbar {
  box-shadow: none !important;
}
.topbar {
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  /* border-bottom: 1px solid #e2e8f0; */
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left:5px; */
  .sidebar-logo {
    /* display: none; */
  }
  .sidebar-logo img {
    position: absolute;
    width: 210px;
    height: 120px;
    left: 1.4rem;
    top: -20px;
  }
}

.topbar-title {
  font-size: 18px;
  font-weight: 500;
  color: #1e293b;
}

.topbar-actions {
  width: 100%;
  display: flex;
  gap: 1rem; /* spacing between icons */
  justify-content: flex-end; /* aligns all to the right */
  align-items: center;

  span {
    cursor: pointer;

    img,
    input {
      width: 20px; /* or whatever exact size you need */
      height: 20px;
    }
  }
}

.topbar-icon {
  font-size: 18px;
  cursor: pointer;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #e11d48;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #be123c;
}

.hamburger {
  /* display: none; */
  font-size: 20px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 999999;
}

.license-badge,
.notification,
.user-logout {
  width: 30px;
  img {
    width: 100%;
  }
}
.user-logout input {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 699px) {
  .topbar {
    padding: 0 10px;
    .sidebar-logo {
      display: block;
    }
  }
}

@media (min-width: 699px) {
  .hamburger {
    /* display: none; */
  }
  .topbar-title {
    visibility: visible;
  }
  
}

/**need to add media queries for min with 350 and max 600 */

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger {
    display: block;
    /* font-size: 40px !important; */
  }
  .topbar-title {
    visibility: hidden;
  }
}

@media (max-width: 400px) {
  .topbar {
    .sidebar-logo img {
      width: 160px;
      height: 110px;
      top: -1rem;
    }
    height: 50px;
  }
  .topbar-actions {
    gap:0rem;
    & span {
      img,
      input {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}