.assign-lessons-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 10px !important;
}
.assign-lessons-page {
  background-color: #f9fbfd;
  min-height: 100vh;
  font-size: 0.95rem;
  padding-right: 0px !important;
}

.assign-lessons-page h4 {
  font-weight: 600;
  color: #2d3e50;
}

.assign-lessons-page .card {
  border-radius: 10px;
}

.assign-lessons-page .card-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.assign-lessons-page .form-label {
  font-weight: 500;
}

.assign-lessons-page .table th,
.assign-lessons-page .table td {
  vertical-align: middle;
}

.assign-lessons-page .btn-sm {
  font-size: 0.75rem;
}

.assign-lessons-page .btn-primary {
  background-color: #1e3a8a;
  border-color: #1e3a8a;
}
.recently-assigned-title {
  margin-bottom: 0.7rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.recently-assigned-grid tr td {
  padding: 7px;
}

.recent-assigned-section {
  display: grid;
  grid-template-columns: 20% 1fr !important;
  width: 100%;
}

.avatar {
  margin-left: 3rem;
}

.teacher-card {
  text-align: center;
  p {
    margin: 0px;
  }
  .teacher-info {
    text-align: left;
    margin-left: 2rem;
  }
}

.recent-assigned-section {
  .teacher-card {
    .teacheravatar {
      background: #79c6e0;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.teacher-info {
  position: absolute;
  top: 1rem;
  right: 8rem;
}
.assign-lessons-page .card-title {
  text-align: left;
}

.recent-assigned-section {
  .teacher-card {
    border-bottom: 1px solid #eee;
    padding-bottom:1.5rem;
  }
}

@media (min-width: 375px) {
  .assign-lessons-page {
    .align-items-end {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
  .teacher-card {
    h5.card-title {
      font-size: 1rem;
      margin-top: 10px;
    }
  }
}

@media (max-width: 374px) {
  .assign-lessons-container {
    .lessons-filter {
      /* gap: 2px !important; */
    }
  }
  .assign-lessons-page {
    .align-items-end {
      display: grid;
      grid-template-columns: 1fr !important;
    }
    .align-items-end {
      .form-select {
        max-width: 100% !important;
      }
    }
    .teacher-card {
      h5.card-title {
        font-size: 1rem;
        margin-top: 10px;
      }
    }
    .form-select,
    .form-control {
      width: 80% !important;
    }

    .align-items-end {
      .form-select,
      .form-control {
        width: 100% !important;
      }
    }
  }

  .recent-assigned-section {
    .teacher-card {
      h5.card-title {
        font-size: 12px;
        margin-top: 10px;
      }
      .teacheravatar {
        margin-left: 0rem !important;
      }
      .teacher-info {
        p {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 475px) and (max-width: 574px) {
  .recent-assigned-section {
    .teacher-card {
      h5.card-title {
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
      }
      .teacheravatar {
        margin-left: 1rem !important;
      }
      .teacher-info {
        left: 12rem;
        .bg-warning {
          padding-top: 7px;
          padding-bottom: 7px !important;
          font-size: 14px;
        }
        p {
          font-size: 13px;
          margin-left: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 700px) {
  .recent-assigned-section {
    .teacher-card {
      h5.card-title {
        font-size: 1rem;
        margin-top: 10px;
        margin-left: 10px;
      }
      .teacheravatar {
        margin-left: 1.5rem !important;
      }
      .teacher-info {
        left: 12rem;
        .bg-warning {
          padding-top: 10px;
          padding-bottom: 10px !important;
          font-size: 14px;
        }
        p {
          font-size: 15px;
          margin-left: 0px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .form-select {
    font-size: 0.95rem;
    padding: 0.5rem;
  }
  .card-body {
    padding: 0px !important;
  }
  .recent-assigned-section {
    display: block !important;
  }

  .assign-lessons-container {
    h5 {
      margin-bottom: 0.7rem !important;
      font-size: 1rem !important;
      font-weight: 600 !important;
    }
  }

  .teacher-card {
    margin-top: 1rem;
    height: 125px;
    border-bottom: 2px solid #eee !important;
    .avatar {
      margin-left: 10px;
    }
    position: relative;
    .card-title {
      text-align: left;
    }
  }
  .teacher-info {
    position: absolute;
    top: 0rem;
    right: 1rem;
  }

  .recent-assign-lesson-body {
    margin-top: 1rem;
    .recently-assigned-grid {
      margin-top: 1rem;
      th,
      td {
        font-size: 13px;
      }
    }
  }
}

.lessons-filter-section {
  grid-template-columns: 1fr 1fr !important;
}
@media screen and (min-width: 768px) and (max-width: 920px) {
}

@media (max-width: 600px) {
  .assign-lessons-container {
    padding: 10px !important;
  }
}

@media (min-width: 700px) {
  .teacher-info {
    width: 100%;
    position: relative !important;
    margin-left: 7rem !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 768px) {
  .teacher-info { 
    p {
      font-size: 13px;
    }
  }
}